html, body { height: 100%; }
body { margin: 0; font-family: "Calibri", sans-serif }
.border-margin {
    margin: 100px 12px 0 12px;
}

.button {
    font-weight: bold !important;
    font-family: "Calibri", sans-serif !important;
}
