@import './custom-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: "Calibri", sans-serif }
.border-margin {
    margin: 100px 12px 0 12px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-mdc-card-subtitle {
    font-size: 13px !important;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.auth-forms {
    width: 100% !important;
    margin-top: 10px !important;
}

.account-card {
    box-shadow: 1px 2px 7px 2px rgba(133, 133, 133, 0.68) !important;
    border-radius: 9px !important;
    padding: 10px 25px !important;
}

.signup-in {
    width: 100% !important;
    border-radius: 9px !important;
}

.card-buttons {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.account-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 12px 0 12px;
}

button {
    font-weight: bold !important;
    font-family: "Calibri", sans-serif !important;
    margin: 0.3em;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-card {
    border: solid 1.5px rgba(188, 188, 188, 0.68) !important;
    padding: 0 10px 5px 10px !important;
    margin: 10px 0 !important;
    width: 15em !important;
}

.admin-card {
    border: solid 1.5px rgba(188, 188, 188, 0.68) !important;
    padding: 0 10px 5px 10px !important;
    margin: 10px 0 !important;
}

.image {
    width: 13em;
    display: block;
    margin: 10px auto 0 auto;
}

.table-image {
    height: 7em;
}

.add-image {
    height: 10em;
}

.foodstore-image {
    height: 10em;
}
