<ul>
    <li *ngFor='let doc of categoriesArray'>
        {{ doc.Name || doc.field }} - {{ doc.Age || "Unknown" }}
    </li>
</ul>

<div class="flex">
    <mat-card *ngFor='let doc of categoriesArray'>
    <mat-card-header>
      <mat-card-title>{{ doc.Name || doc.field }}</mat-card-title>
      <mat-card-subtitle>category</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{ doc.Age || "Unknown" }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
