<div class="flex reset">
    <mat-card class="account-card">
        <mat-card-header>
            <mat-card-title>
                <h2>Forgot your password</h2>
            </mat-card-title>
            <mat-card-subtitle>
                Please enter the email address you use to log in to your account. <br>
                If there is an account associated with that email address, <br>
                we will send you a link to reset your password. <br>
                Please make sure to check your spam/junk folder.
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="form">
            <mat-form-field appearance="outline" class="auth-forms">
                <mat-label for="email">Email:</mat-label>
                <input matInput placeholder="example@gmail.com" [(ngModel)]="email" name="email" required>
                <mat-error>Email is required</mat-error>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <div class="card-buttons">
                <button mat-raised-button color="primary" (click)="resetPassword()" class="signup-in">SEND
                    REQUEST</button>
                <a mat-button href="/login">Back to Login</a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>