<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Categories">
    <ul>
      <li *ngFor='let doc of categoriesArray'>
        {{ doc.Name }} - {{ doc.Age || "Unknown" }}
      </li>
    </ul>
    
    <h2>Add:</h2>
    <div class="form">
      <mat-form-field [formGroup]="form">
        <mat-label for="name">Name:</mat-label>
        <input matInput formControlName="name" type="text">
        <mat-error *ngIf="form.get('name')?.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    
      <mat-form-field [formGroup]="form">
        <mat-label for="age">Age:</mat-label>
        <input matInput formControlName="age" type="number">
      </mat-form-field>
    
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
    
    <h2>Find:</h2>
    <div>
      <mat-form-field [formGroup]="this.secondForm">
        <input matInput placeholder="Name" formControlName="valueToGet" type="text" [matAutocomplete]="auto"/>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor='let doc of categoriesArray' [value]="doc.Name">
          {{doc.Name}}
        </mat-option>
      </mat-autocomplete>
      <button mat-raised-button color="accent" (click)="onQuery()">Find</button>
    </div>
    
    <p style="color: red;">{{message || null}}</p>
    
    <div *ngIf="single">
      <h3>{{single.Name}}</h3>
      <button mat-raised-button class="edit-button" (click)='openEdit()'>Edit</button>
      <button mat-raised-button class="delete-button" (click)='delete()'>Delete</button>
    </div>
    
    <div *ngIf="edit">
      <mat-form-field [formGroup]="this.editForm">
        <input matInput placeholder={{single.Name}} formControlName="replaceValue" type="text" />
      </mat-form-field>
      <button mat-raised-button (click)="onRename()">Rename</button>
    </div>
    
    <p style="color: red;">{{message2 || null}}</p>
  </mat-tab>
</mat-tab-group>