<ul>
  <li *ngFor='let doc of categoriesArray'>
    {{ doc.Name || doc.field }} - {{ doc.Age || "Unknown" }}
  </li>
</ul>

<form [formGroup]="form">
  <mat-form-field class="example-full-width">
    <mat-label for="name">Name:</mat-label>
    <input matInput placeholder="Name" formControlName="name" type="text" class="input-field col s12">
  </mat-form-field>
  <div *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
    <mat-error>Name is <strong>required</strong></mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label for="age">Age:</mat-label>
    <input matInput placeholder="Age" formControlName="age" type="number" class="input-field col s12">
  </mat-form-field>

  <button mat-raised-button (click)="onSubmit()">Submit</button>
</form>

<form [formGroup]="this.secondForm">
  <input placeholder="name" formControlName="valueToGet" type="text" class="input-field col s12" />
  <button (click)="onQuery()">
    Query
  </button>
</form>
<p style="color: red;">{{message || null}}</p>

<div *ngIf="single">
  <h1>{{single.field ||single.Name}}</h1>
  <button style='background-color: lightblue' (click)='openEdit()'>Edit</button>
  <button style='background-color: red' (click)='delete()'>Delete</button>
</div>

<form *ngIf="edit" [formGroup]="this.editForm">
  <input placeholder="{{single.Name || single.field}}" formControlName="replaceValue" type="text"
    class="input-field col s12" />
  <button (click)="onRename()">
    Rename
  </button>
</form>
<p style="color: red;">{{message2 || null}}</p>