<mat-toolbar color="primary">
    <span><a href="/">Foodstore Gwenny</a></span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/test">Test</button>
        <button mat-menu-item routerLink="/categories">Categories</button>
        <button mat-menu-item routerLink="/settings">Settings</button>
    </mat-menu>
</mat-toolbar>